<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.rembertime.app">

    <!-- Required to GeolocationManager -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <uses-feature android:name="android.hardware.wifi" android:required="false"/>

    <application
        android:name=".application.LocationSampleApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_permission"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_permission"
        android:supportsRtl="true"
        android:theme="@style/SampleAppStyle">

        <activity android:name=".ui.activity.LocationSampleActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".permission.activity.LocationPermissionActivity"
            android:screenOrientation="portrait">
        </activity>

    </application>
</manifest>